
{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block metadesc %}
  <meta name="description" content="About Us" />
{% endblock %}


{%block mainsection %}

	<h1>About Us - The great new blog!</h1>
	<h2>About Our thing</h2>
	<p>
		Nullam et dapibus lectus. Etiam tempor, magna eget pharetra ultrices, leo ipsum interdum nibh, at facilisis nibh erat sit amet nulla. Nullam in turpis in sapien dapibus dapibus. In auctor tristique eleifend. 
	</p>
	<p>
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam suscipit facilisis ligula, nec auctor nibh convallis in. Sed sit amet metus justo.
	</p>
	<p>
		Suspendisse sollicitudin pellentesque dolor, ac eleifend leo blandit sed. Maecenas ultricies mollis orci.
	</p>


{% endblock %}






