<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ obj.title|e }}</title>
    <link>{{ real_host }}{{ opt.url }}</link>
    <description>{{ obj.title|e }}</description>
    <pubDate>{{ obj.rssrecentdate }}</pubDate>
    {% for article in obj.data %}
    <item>
      <title>{{ article.title|e }}</title>
      <link>{{ real_host }}/blog/{{article.group.key().name()}}/{{article.keyname}}</link>
      <guid>{{ real_host }}/blog/{{article.group.key().name()}}/{{article.keyname}}</guid>
      <pubDate>{{ article.rssdate}}</pubDate>
      <description>
        {{ article.summary|e }}
      </description>
    </item>
    {% endfor %}
  </channel>
</rss>