{% extends "base.html" %}

{% block title %} Not Found {% endblock %}

{% block metadesc %}
  <meta name="description" content="Not found." />
{% endblock %}


{%block mainsection %}


<section class="container">
    <section class="row">
    	<section class="twocol">
    	</section>
        <section class="eightcol posts">
			<div class="maxwidth center">
				<h1>Hmmm, I smell a little brain fart...</h1>
				<div>
					We can't work out what you are looking for.
				</div>
				<div>
					Ho about going to the <a href="/blog">blog</a> and taking it from there.
				</div>
			</div>
				
		</section>
	</section>
</section>


{% endblock %}

{% block endcontent %}
{% endblock %}

