{% extends "base-blog.html" %}

{% block title %} {{obj.title}} {% endblock %}

{% block metadesc %}
  <meta name="description" content="{{obj.title}}" />
{% endblock %}

{% block extrahead %}
{% endblock %}

{%block mainsection %}


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <!--Body content-->
      <div class="hero-unit">
        <h1>{{obj.title}}</h1>
        
      </div>

      {% block extrahero %}
      {% endblock %}
      
        {% for blog in obj.data %}
        <div class="row-fluid">
          <div class="span8">
            
            {% if blog.thumb %}
            <section class="image">
                <a href="/blog/{{blog.group.key().name()}}/{{blog.keyname}}"><img src="{{blog.thumb}}" alt="{{blog.title}}"></a>
            </section>
            {% endif %}
            <section class="preview">
                
                <a href="/blog/{{blog.group.key().name()}}/{{blog.keyname}}"><h2>{{blog.title}}</h2></a>
                
                <p class="date">Posted on {{blog.nicedate}} in <a href="/blog/{{blog.group.key().name()}}">{{blog.group.title}}</a>
                <br>
                Posted by {{blog.author}}
                </p>
                
                <div id="{{blog.keyname}}" class="editable">
                {{blog.summary}}
                </div>

                <section class="links">
                    <ul>
                        <li class="more">
                        <a href="/blog/{{blog.group.key().name()}}/{{blog.keyname}}">Read More</a>
                        </li>
                    </ul>
                </section>
            </section>

          </div><!--/span-->
        </div>
        {% endfor %}

      {% include "widgets/widge-pagination.html" %}
      
    </div>
    <div class="span4">
      <!--Sidebar content-->

        {% include "widgets/widge-search.html" %}
        
        {% include "widgets/widge-rss.html" %}

        {% include "widgets/widge-popular.html" %}

        {% include "widgets/widge-categories.html" %}

        {% include "widgets/widge-twitter.html" %}
    </div>
  </div>
</div>

{% endblock %}

