{% extends "base.html" %}

{% block title %} - Unauthorised{% endblock %}

{% block metadesc %}
  <meta name="description" content="Unauthorised" />
{% endblock %}



{%block mainsection %}
        
    <section class="page-title">
<section class="containter">
<section class="row">
<section class="twelvecol last"><h1>Top Secret!</h1></section>
</section>
</section>
</section>

<section class="content">
<section class="container">
<section class="row">
<section class="twelvecol text last">
<h2>So you think you can sneak into our little nest high up in this tree...</h2>
<p>Well, think again... Now, <a href="/blog">we're watching yoooooo!</a></p>
</section>
</section>
</section>

</section>



{% endblock %}

{% block endcontent %}

{% endblock %}
